@import "copass/css3";

@keyframes roundandround{
    to{
        transform: rotateX(360deg);
    }
}

body{
    background-color: #524242;
}

.scene{
    width:600px;
    height: 600px;
    margin: 0 auto;
    perspective: 500px;
}

.wrapper{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0deg) translateZ(300px);
}

.tunnel{
    position:relative;
    width:200px;
    height:200px;
    margin:0 auto;
    transform-style: preserve-3d;
    animation: roundandround 5s infinite linear 5ms alternate-reverse;
    list-style:none;
}
.tunnel .ring{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px;
    border-style: dashed;
    border-radius: 50%;
    transform-origin: 50% 50%;
    color:#e67777;
    transform: translateY(-200px);
    list-style:none;
  
}


.tunnel .ring:hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px;
    border-style: dashed;
    border-radius: 50%;
    transform-origin: 50% 50%;
    color:#48cd3c;
    transform: translateY(-200px);
    list-style: none;
  
}



@for $i from 1 through 72 {
    .ring:nth-child(#{$i}) {
      color: hsl($i * 5deg, 100, 50);
      transform: rotateX($i * 5deg) translateY(-200px);
    }
  }
  